//- index.pug
extends layout.pug

block link
    section
        .heading
            .text
                span LINK
        .subsection
            - var links = sider.links;
            .red.github Github
                - var github = links.github;
                span.descript : // 
                    a(href=`${github.link}`) #{github.name}
            .red.linkedIn LinkedIn
                - var linkedIn = links.linkedIn;
                span.descript : //
                    a(href=`${linkedIn.link}`) #{linkedIn.name}
            .red.qq QQ
                - var QQ = links.QQ;
                span.descript : //
                    a(href=`${QQ.link}`) #{QQ.name}
            .red.weixin Weixin
                - var weixin = links.weixin;
                span.descript : //
                    a(href=`${weixin.link}`) #{weixin.name}

block education
    section
        .heading
            .text
                span EDUCATION
        .subsection
            - var education = sider.education;
            .title.red= education.university
            .descript= education.major
            .date= education.date

block programing
    section
        .heading
            .text
                span PROGRAMING
        .subsection
            .programing
                - var programings = sider.programings;
                each item in programings
                    span.language.descript= item

block header
    section.header
        .name #{name}
        .descript.red #{descript}
        .descript
            if website
                a(href= website,target= '_blank').website #{website}
            if age
                .age #{age}
                .space
            .email #{email}
            .space
            .mobile #{mobile}


mixin list(content)
    if Array.isArray(content)
        ul
            each list in content
                li.circle
                    +list(list)
    else
        span= content

block experience
    section
        .heading.underline
            .text.experience
                span.red= i18n[lang]['exp']
                span= i18n[lang]['erience']
        each item in experiences
            .subsection
                span.title= item.title
                span.descript.divider= item.descript
                .label
                    span.date= item.date
                    span.location.red.divider= item.location
                br
                .content
                    - var content = item.content;
                    if Array.isArray(content)
                        ul
                            each block in content
                                if typeof block ===  'string'
                                    li.circle= block
                                else
                                    - var title = block.title;
                                    - var list  = block.list;
                                    - var info = block.info;
                                    - var duty = block.duty;
                                    li
                                        h4= title
                                        div= info
                                        div= duty
                                        +list(list)
                    else
                        span= content
                

block internship
    section
        .heading.underline
            .text.internship
                span.red= i18n[lang]['int']
                span= i18n[lang]['ernship']
        each item in internships
            .subsection
                span.title= item.title
                span.descript.divider= item.descript
                .label
                    span.date= item.date
                    span.location.red.divider= item.location
                br
                .content
                    - var content = item.content;
                    if Array.isArray(content)
                        ul
                            each text in content
                                li= text
                    else
                        span= content
block project
    section
        .heading.underline
            .text.project
                span.red= i18n[lang]['pro']
                span= i18n[lang]['jest']
        each item in projects
            .subsection
                span.title= item.title
                if item.descript
                    a(href= item.descript, target= '_blank').descript.divider= item.descript
                div(style='margin: 8px 0;')= item.duty
                .content
                    - var content = item.content;
                    if Array.isArray(content)
                        ul
                            each text in content
                                li.circle= text
                    else
                        span= content

block skill
    section
        .heading.underline
            .text.skill
                span.red=  i18n[lang]['ski']
                span= i18n[lang]['ll']
        .subsection
            ul
                each item in skills
                    li.check= item

block honor
    section
        .heading.underline
            .text.honor
                span.red= i18n[lang]['hon']
                span= i18n[lang]['or']
        .subsection
            ul
                each item in honors
                    li.star= item